<%- include('header'), {title:title} %>

    <a class="gradient-button" href="/api/books">Мои книги</a>
    <a class="gradient-button" href="/api/createBook" style="margin-top:100px">Добавить книгу</a>
    <a class="gradient-button" href="/user/me" style="margin-top:200px">Мой профиль</a>
    <%- include('end') %>