<%- include('header'), {title:title} %>
    <p>
        <b>Login:</b>
        <%= user.login %><br />
    </p>
    <a class="gradient-button" href="/api/logout">Выйти</a>
    <a href="/api/menu" class="back"> Назад</a>
    <%- include('end') %>