<%- include('header'), {title:title} %>

    <form method="POST" style="position: relative" action="/user/send/registration">
        <input type="text" required="required" class="input_login_password" id="login" name="login" placeholder="login">
        <input type="password" required="required" class="input_login_password" id="password" name="password"
            placeholder="password">
        <button type="submit" class="gradient-button" style="left:-5%">Регистрация</button>
    </form>
    
    <%- include('end') %>