<%- include('header'), {title:title} %>

<a class="gradient-button" href="/user/get/registration" >Регистрация</a>
<a class="gradient-button" href="/user/get/login" style="margin-top:100px">Войти</a>


    <%- include('end') %>